col {
    color: #ffffff"
    border: 5px solid #000000;
}

table {
    width:100%;
}

table h3 {
    text-align:right;
}

td {
    padding: 15px;
}

.rna {
    background-color:#edd400;
}

.dna {
    background-color:#75507b;
    color: #fff;
}
