section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: black;
    overflow-y: auto;
}

.virus-box {
	width: 200px;
	height: 70px;
	background: gray;
	margin: 20px auto;
	position: relative;
}

.virus-box label {
	cursor: pointer;
	position: absolute;
	width: 200px;
	height: 70px;
	left: 0px;
	top: 0px;
	background: white;
	text-align: center;
}

.virus-box label:hover {
    background: lightyellow;
}

.points {
    position: absolute;
	right: 0;
	font-size: 2em;
	margin-right: 22px;
	top: 10px;
	padding: 5px;
	height:35px;
	border-style: solid;
}

.points p{
    margin: 0px;
}

@media screen and (min-width:769px) {
  .submit { display:none; }
  
  header {
    text-align: center;
    }
}
@media screen and (max-width:768px) {
    h1 {
        width: 200px;
    }
    
    .virus-box {
	    width: 250px;
	    height: 40px;
	    margin: 5px;
	    position: relative;
    }

    .virus-box label {
        height: 40px;
	    cursor: pointer;
	    position: absolute;
	    width: 250px;
	    left: 0px;
	    top: 0px;
	    background: white;
	    text-align: center;
    }    
    
    .submit input[type="submit"] {
        float: right;
        color: #ffffff;
        font-size: 22px;
        margin-top: 10px;
        margin-right:15px;
        padding:5px 20px; background:#000000; border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        margin-left: 20px;
        width: 200px;
    }
    
    .submit input[type="submit"]:hover {
    color: lightyellow;
    
    main header {
        text-align: left;
    }
}

}

